div.school-detail .full-name {resize:none;}

div.school-detail .add-button {padding-top: 5px;}

div.school-detail .edit-panel {padding-top: 150px;}

div.school-detail .remove-alert-panel {padding-top: 10px; font-size: 120%;}