div.load-price .izd-group i {
	margin-right: 15px;
}

div.load-price .start-date-group i {
	margin-right: 30px;
}

div.load-price .prim-group-added {
	margin-top: 5px;
}

div.load-price .col-1 {
	width: 50px;
	text-align: center;
}

div.load-price .col-2 {
	width: 500px;
}

div.load-price .col-3 {
	text-align: center;
}