div.books-list { word-wrap: break-word; }

div.books-list table { vertical-align: middle !important; }

div.books-list thead th { text-align: center; }

div.books-list .col-summa { width: 130px; }
div.books-list .col-count { width: 80px; }
div.books-list .col-price { width: 100px; }

div.books-list .book-name { font-weight: bold; font-size: 90%; }

div.books-list a {color: #eee;}